<nav class="navbar">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="https://www.freelogoservices.com/api/main/images/1j+ojVVCOMkX9Wyrexe4hGfL36zV709ZxBzAs2Y+cUkt7kwzzGVp360146FifhAD6FMIhxIIcMIrzXoiEMVAgRtg...jeMP4NKWH8=" /></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li><a [routerLink]="['/home']">Home</a></li>
              <li><a [routerLink]="['/products']">Product List</a></li>
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Log In</a></li>
          </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<router-outlet></router-outlet>

<div class="footer-wrapper">
    <div class="footer-wrapper-top">
        <div class="container">
            
            <div class="wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-4 text-center">
                                <div class="footer-wrapper-category ">
                                    <label class="cat-head">
                                        <div class="">24/7 customer support</div>
                                    </label>
                                    <div class="cat-content">
                                        <p>If you need help while traveling or hosting, contact us at our toll free number: 000 800 4405 103</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 text-center">
                                <div class="footer-wrapper-category  ">
                                    <label class="cat-head">
                                        <div class="">₹6,00,00,000 host guarantee</div>
                                    </label>
                                    <div class="cat-content">
                                        <p>Hosts are protected against property damages for up to ₹6,00,00,000. Learn more</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 text-center">
                                <div class="footer-wrapper-category ">
                                    <label class="cat-head">
                                        <div class="">Verified ID</div>
                                    </label>
                                    <div class="cat-content">
                                        <p>We aim to build a trusted community by giving you more info when you're deciding who to host or stay with.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="divider hidden-xs"></div>
                        <div class="footer-wrapper-category">
                            <div class="text-center row justify-content-md-center footer-nov">
                                <ul class="footer-links nav list-inline">
                                    <li class="nav-item"><a href="">Learn</a></li>
                                    <li class="nav-item"><a href="">About Us</a></li>
                                    <li class="nav-item"><a href="">Contact Us</a></li>
                                    <li class="nav-item"><a href="">Careers</a></li>
                                    <li class="nav-item"><a href="">Sitemap</a></li>
                                    <li class="nav-item"><a href="">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="footer-wrapper-button">
        <div class="container-fluid wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="footer-text-1">
                <p>
                    <span class="color-w">ABC : </span> Janta Vihar,  Mukundpur, New Delhi-110042
                </p><p class="small-font  hidden">
                    <a href=""><span class="color-w"> Housig/ DB 55x6/16 </span></a>, <span>Valid till: <span class="color-w">26/12/2029</span>, </span><span>CIN: <span class="color-w">1110999SFF</span></span>, <span>Principal Officer: <span class="color-w">R. Chakraborty (Contact: +91 8750200656)</span></span>
                </p>
            </div>
            <div class="divider"></div>
            <div class="text-center row justify-content-md-center footer-nov">
                <ul class="footer-links nav list-inline">
                    <li class="nav-item"><a href="">Shipping &amp; Delivery Policy</a></li>
                    <li class="nav-item"><a href="">Privacy Policy</a></li>
                    <li class="nav-item"><a href="">Cancellation &amp; Refund</a></li>
                    <li class="nav-item"><a href="">Terms &amp; Conditions</a></li>
                </ul>
            </div>
            <div class="copyright">
                Copyright © 2017 abc.com. All Rights Reserved
            </div>
        </div>
    </div>
</div>
