
<style>
    .crop { overflow: hidden; margin: auto; margin-top: 10px;}
    .rating-sec{ width:86px; margin: auto}
</style>

<div class="crop"
    [style.width.px]="starWidth"
    [title]="rating"
    (click)='OnClick()'>
    <div class="rating-sec">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
    </div>

</div>